.bigheader{
	height: 20px;
	background: #0080FF;	
}

.bigbutton{
	height: 20px;
	background: #0080FF;
	padding: 10%;
	text-align: center;
}
.minibox{
	height: 10px;
	text-align: center;
	background: transparent;

}

.noborder{
	border: 0px;
	background: transparent;
}

.bigfont{
	font-size: 30px;
}

.maxwidth{
	width: 100%;
}
